<%= render :partial => 'navigation' %>
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
      <div class="container">
        <h1>Bienvenido!</h1>
        <p>Atravez de esta plataforma usted podra consultar sus dietas y cantidades permitidas, ver de forma grafica su evolucion en el proceso, e interactuar con la licenciada Gabin.</p>
        <p><a class="btn btn-lg btn-primary" href="/static_pages/help" role="button">Conozca como &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Dietas</h2>
          <p>Le permite visualizar la dieta que le ha dado la licenciada en todo momento, con las respectivas cantidades, de acuerdo a su plan</p>
          <p><a class="btn btn-default" href="/static_pages/help" role="button">Ver detalles &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Medidas</h2>
          <p>Podra cargar sus medidas de forma online, para que la licenciada pueda obtener actualizaciones de sus datos de forma instantanea</p>
          <p><a class="btn btn-default" href="/static_pages/help" role="button">Ver detalles &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Estadisticas</h2>
          <p>No hay nada mejor que poder observar su progreso de forma grafica y clara, en esta seccion usted podra ver claramente los avances producidos por el plan</p>
          <p><a class="btn btn-default" href="/static_pages/help" role="button">Ver detalles &raquo;</a></p>
        </div>
      </div>

      <hr>
      <footer>
        <p>&copy;   Esta pagina no suplanta la visita al consultorio...</p>
      </footer>
    </div>
  </div>