<%= render :partial => 'dashboard/navigation' %>
<div class="container theme-showcase" role="main">
<div class="page-header">
<h1>Nutri Dietas</h1>
</div>
Esta plataforma le permitira al paciente interactuar con la licenciada y el plan dietario que ella ha determinado.Esta plataforma le permitira al paciente interactuar con la licenciada y el plan dietario que ella ha determinado.Esta plataforma le permitira al paciente interactuar con la licenciada y el plan dietario que ella ha determinado.Esta plataforma le permitira al paciente interactuar con la licenciada y el plan dietario que ella ha determinado.
<div class="page-header">
<h3>Dietas</h3>
</div>
En esta seccion la licenciada le proporcionara los archivos en formato PDF con las dietas a las cuales usted podra acceder clickeando sobre las distintas imagenes. Ademas en la parte inferior de la seccion, podra ver las cantidades de alimentos a consumir en cada comida (desayuno, colacion, almuerzo, merienda, cena).En esta seccion la licenciada le proporcionara los archivos en formato PDF con las dietas a las cuales usted podra acceder clickeando sobre las distintas imagenes. Ademas en la parte inferior de la seccion, podra ver las cantidades de alimentos a consumir en cada comida (desayuno, colacion, almuerzo, merienda, cena).
<div class="page-header">
<h3>Medidas</h3>
</div>
En la seccion "Medidas" el paciente debera cargar las medidas solicitadas de manera semanal, previa a la visita al consultorio. Las medidas se encuentran en centimetros y se separan por "." para los decimales.En la seccion "Medidas" el paciente debera cargar las medidas solicitadas de manera semanal, previa a la visita al consultorio. Las medidas se encuentran en centimetros y se separan por "." para los decimales.En la seccion "Medidas" el paciente debera cargar las medidas solicitadas de manera semanal, previa a la visita al consultorio. Las medidas se encuentran en centimetros y se separan por "." para los decimales.
<div class="page-header">
<h3>Estadisticas</h3>
En esta seccion el paciente podra observar el progreso realizado por el con el plan dietario seguido. En esta seccion el paciente podra observar el progreso realizado por el con el plan dietario seguido.En esta seccion el paciente podra observar el progreso realizado por el con el plan dietario seguido.En esta seccion el paciente podra observar el progreso realizado por el con el plan dietario seguido. En esta seccion el paciente podra observar el progreso realizado por el con el plan dietario seguido.En esta seccion el paciente podra observar el progreso realizado por el con el plan dietario seguido.
</div>
<footer>
		<p>&copy;   Esta pagina no suplanta la visita al consultorio..................................................................................................................................................................................................................</p>
	</footer>
	</div>